@model Location.Models.Objet

@{
    ViewBag.Title = "Supprimer un objet";
}

<h2>Supprimer un objet</h2>

<h3>Êtes-vous sûr de vouloir supprimer cet objet ?</h3>
<div>
    <div class="row objet">
        <div class="photo col-xs-2">
            <img src="http://placehold.it/160x120" />
        </div>
        <div class="col-xs-7">
            <h3>@Model.Titre</h3>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="infos col-xs-3">
            <span class="tarif">@Model.Tarif€</span><span class="jour">/jour</span><br />
            Caution : @Model.Caution €<br />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <a href="@Url.Action("Index", "Objet")"><span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span> Retour à la liste de mes objets</a>&nbsp;
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }
</div>
